<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>BookStore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="css/bootstrap.min.css"
      th:href="@{css/bootstrap.min.css}"
    />
  </head>
  <body class="bg-dark text-white">
    <div class="container">
      <h1 class="display-5 | text-center ">Book List</h1>
    </div>


      <table class="table table-striped table-dark">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Publication Year</th>
          <th>Price</th>
          <th>ISBN</th>
          <td></td>
        </tr>
        
        <tr th:each="i : ${books}">
          <td th:text="${i.title}"></td>
          <td th:text="${i.author}"></td>
          <td th:text="${i.publicationYear}"></td>
          <td th:text="${i.price}"></td>
          <td th:text="${i.isbn}"></td>
          <td>
            <a th:href="@{/edit/{id}(id=${i.id})}" class="btn btn-warning">Edit</a>
            <a th:href="@{/delete/{id}(id=${i.id})}" class="btn btn-danger">Delete</a>
          </td>
          <br />
        </tr>
      </table>
      <div class="mr-3"><a href="/add" class="btn btn-success">Add a book</a></div>

  </body>
</html>
